<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>C0F53A95-5C4B-4AFF-B7AA-05DD44C0D358.playgroundpage</string>
		<string>16B2B5F3-7B62-424B-AB14-A51AFF876956.playgroundpage</string>
		<string>970FBC01-68A1-4B61-9998-E938D6A207D2.playgroundpage</string>
		<string>DE757982-7691-499F-BB36-7D98AD09657F.playgroundpage</string>
		<string>97F42F5D-DA61-444E-9072-276D9716838A.playgroundpage</string>
	</array>
</dict>
</plist>
